/*reset起點*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset終點*/
/*環境設定起點*/
img{
    max-width: 100%; 
    height: auto;
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #FFF;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}
/*環境設定終點*/
.container{
    max-width: 1296px;
    margin: 0 auto;
}
.toolcontainer{
    max-width: 1920px;
    margin: 0 auto;
}
.mobilemenu, .mobileview, .mobiledot, .screen-m, .screen-s, .mobile-pickerwrap, .mobile-footer-s{
    display: none;
}
.header, .main-menu{
    display: flex;
    align-items: center;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header{
    justify-content: space-between;
    border-bottom: 1px solid #FFF;
    margin-bottom: 40px;
}
.main-menu li a{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.title{
    font-size: 120px;
    font-weight: 900;
}
.banner a {
    display: block;
    width: 160px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #FFF;
    border-radius: 16px;
    margin-top: 40px;
}
.deco{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.ourservices{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-bottom: 80px;
}
.ourservices h3{
    font-size: 32px;
    font-weight: 900;
    width: 32%;
    margin-right: 24px;
}
.ourservices h4{
    font-size: 48px;
    font-weight: 900;
    width: 66%;
}
.wrap ul{
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}
.web{
    width: 32%;
    border-radius: 16px;
    border: 1px solid #FFF;
}
.service svg{
    width: 80px;
    height: 80px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 40px;
}
.web h6{
    font-size: 32px;
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 20px;
}
.service p{
    font-size: 16px;
    line-height: 1.5;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 80px;
}
.supplierlist h3{
    font-size: 32px;
    font-weight: 900;
    margin-top: 160px;
    margin-bottom: 80px;
}
.webview{
    width: 100%;
}
.logocut1 img{
    width: 98px;
    height: 40px;
    object-fit: cover;
}
.logocut2 img{
    width: 98px;
    height: 40px;
    object-fit: cover;
}
.list1{
    height: 40px;
    width: 100%;
    /*max-width: 1296px;*/
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}
.mask1{
    width: 98px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
}
.mask2{
    width: 98px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: linear-gradient(to left, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
}
.list2{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    margin-bottom: 160px;
}
.feedback{
    overflow: scroll;
}
.screen-l{
    display: flex;
    justify-content: space-between;
    
}
.screen-l .web{
    /*width: 32%;*/
    width: 416px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.08);
    border: none;
}
.rankstar{
    width: 96px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
}
.fullname{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}
.customer{
    margin-top: 20px;
    display: flex;
}
.photo {
    width: 48px;
    height: 48px;
}
.company{
    font-size: 14px;
    line-height: 1.5;
}
.customerinfo{
    margin-left: 16px;
}
/*@media (max-width:1295px) and (min-width:1053px){
    .feedback{
        max-width: 1295px;
    }
    .screen-l, .screen-s{
        display: none;
    }
    .screen-m{
        display: block;
        display: flex;
        justify-content: space-between;
    }
    .screen-m .mobile{
        width: 100%;
        margin-left: 3.4%;
        margin-right: 3.4%;
        padding: 3.2%;
        background: rgba(255, 255, 255, 0.08);
        border: none;
    }
}*/
/*@media (max-width:1052px){
    .feedback{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .screen-m, .screen-l{
        display: none;
    }
    .mobiledot{
        display: block;
    }
    .screen-s{
        display: block;
        width: 100%;
        margin-left: 3.4%;
        margin-right: 3.4%;
        padding: 3.2%;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        border: none;
    }
}*/
.toolcontainer{
    max-width: 1920px;
    border-radius: 160px;
    background-color: #FFF;
    color:#000;
    margin-top: 160px;
}
.container h5{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    padding-top: 160px;
}
.searchbar{
    display: flex;
    border-radius: 16px;
    background: #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-top: 80px;
}
.searchbar svg{
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.searchbar input{
    background: #F2F2F2;
    border: none;
    line-height: 1.5;
}
.pickerwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 40px;
}
.picker1, .picker2 {
    display: flex;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #F2F2F2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}
.picker1 p, .picker2 p{
    line-height: 1.5;
}
.button-picker{
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}
.active, .disactive{
    line-height: 1.5;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    border-radius: 16px;
}
.button-picker .active{
    font-weight: 700;
    background-color: #F2F2F2;
}
.toollist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.AIcard{
    width: 32%;
    border-radius: 16px;
    border: 1px solid #F2F2F2;
    margin-bottom: 24px;
}
.toollist img{
    width: 416px;
    height: 312px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom:1px solid #F2F2F2;
    margin-bottom: 20px;
}
.AIcard h7{
    font-weight: 900;
    padding-left: 32px;
}
.detail p{
    font-size: 14px;
    line-height: 1.5;
    margin-top: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 20px;
    border-bottom:1px solid #F2F2F2;
}
.detail .detail2{
    padding-bottom: 41px;
}
.modeltype h8{
    font-weight: 700;
    line-height: 1.5;
}
.modeltype p, .hashtagtype p{
    line-height: 1.5;
}
.hashtagtype svg{
    width: 24px;
    height: 24px;
}
.modeltype, .hashtagtype {
    width: 416px;
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #F2F2F2;
}
.number{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}
.browsing-number{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #FFF;
    margin-left: 4px;
}
.page svg{
    width: 16px;
    height: 16px;
    border-radius: 16px;
}
.pagepicker{
    display: flex;
    justify-content:flex-end;
    padding-bottom: 162px;
}
.page{
    display: flex;
    align-items: center;
}
.pitch{
    text-align: center;
    margin-bottom: 160px;
}
.pitch h3{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 40px;
}
.pitch a{
    width: 188px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #FFF;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center
}
.pitch .CTA{
    text-align: center;
    display: flex;
    justify-content: center;
}
.footer-l{
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    display: flex;
    justify-content: space-between;
}
.footer-title a{
    font-size: 80px;
    font-weight: 900;
    display: block;
    /*width: 160px;*/
    text-decoration: none;
    color: #FFF;
    text-align: center;
}
.footer-title .style1{
    margin-top: 80px;
    margin-bottom: 8px;
}
.logo{
    margin-top: 80px;
    margin-bottom: 240px;
}
.left, .back-to-top{
    display: flex;
    align-items: center;
}
.left a, .back-to-top a{
    color: #FFF;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.footer-s{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.left p{
    margin-right: 100px;
    font-weight: 700;
    line-height: 1.5;
}
.left a{
    margin-left: 20px;
}
@media (max-width:768px) and (min-width:375px){
    .footer-s, .pickerwrap, .screen-l, .webview, .main-menu{
        display: none;
    }
    .mobilemenu, .mobileview, .mobiledot, .mobile-pickerwrap, .screen-m, .mobile-footer-s{
        display: block;
    }
    .container{
        max-width: 720px;
        margin: 0 auto;
    }
    .toolcontainer{
        max-width: 768px;
        margin: 0 auto;
        border-radius: 20px;
        margin-top: 120px;
    }
    h1{
        margin-top: 28px;
        margin-bottom: 28px;
    }
    .mobilemenu{
        display: flex;
        align-items: center;
    }
    .mobilemenu svg{
        width: 24px;
        height: 24px;
    }
    .header{
        width: 94%;
        margin-bottom: 40px;
    }
    .banner{
        width: 94%;
        margin-bottom: 180px;
    }
    .title{
        font-size: 48px;
    }
    .deco img{
        width: 33%;
    }
    .ourservices{
        width: 94%;
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 48px;
    }
    .ourservices h3{
        font-size: 20px;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .ourservices h4{
        font-size: 32px;
        width: 100%;
    }
    .wrap{
        width: 94%;
    }
    .wrap ul{
        display: flex;
        flex-wrap: wrap;
    }
    .web{
        width: 100%;
        margin-bottom: 12px;
    }
    .supplierlist{
        width: 94%;
    }
    .supplierlist h3{
        font-size: 20px;
        margin-top: 108px;
        margin-bottom: 24px;
    }
    .mobileview{
        width: 100%;
    }
    .list3{
        height: 40px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        overflow: scroll;
    }
    .mask3{
        width: 83px;
        height: 40px;
        position: absolute;
        top: 0px;
        left: 0px;
        background:linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
    }
    .logocut3{
        width: 80px;
        height: 40px;
        object-fit: cover;
    }
    .logocut4{
        width: 83px;
    }
    .logocut4 img{
        width: 83px;
        height: 40px;
        object-fit: cover;
    }
    .list4{
        padding-left: 8.5%;
        display: flex;
        height: 40px;
        position: relative;
        margin-bottom: 48px;
    }
    .mask4{
        width: 83px;
        height: 40px;
        position: absolute;
        top: 0px;
        right: 0px;
        background: linear-gradient(to left, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%);
    }
    .feedback{
        width: 94%;
    }
    .screen-m{
        width: 100%;
        padding: 3.2%;
        height: auto;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.08);
    }
    .mobiledot{
        text-align: center;
    }
    .container{
        width: 94%;
    }
    .container h5{
        font-size: 32px;
        text-align: center;
        padding-top: 80px;
    }
    .searchbar{
        margin-top: 32px;
    }
    .picker{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 40px;
    }
    .picker1, .picker2 {
        display: flex;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #F2F2F2;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 32px;
    }
    .picker1 p, .picker2 p{
        line-height: 1.5;
    }
    .button-picker{
        display: flex;
        justify-content: space-between;
        overflow: scroll;
    }
    .active, .disactive{
        line-height: 1.5;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        border-radius: 16px;
    }
    .button-picker .active{
        font-weight: 700;
        background-color: #F2F2F2;
    }
    .toollist ul{
        display: block;
        margin-bottom: 40px;
    }
    .AIcard{
        width: 100%;
        margin-bottom: 12px;
        border: none;
        border-top: 1px solid #F2F2F2;
        border-left: 1px solid #F2F2F2;
        border-right: 1px solid #F2F2F2;
    }
    .toollist img{
        width: 100%;
        height: 312px;
    }
    .AIcard h7{
        font-size: 20px;
    }
    .detail .detail2{
        padding-bottom: 41px;
    }
    .modeltype, .hashtagtype{
        width: 100%;
    }
    .hashtagtype{
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-bottom:1px solid #F2F2F2;
    }
    .pitch{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 160px;
    }
    .pitch h3{
        margin-top: 148px;
        margin-bottom: 32px;
        width: 40%;
        text-align: center;
    }
    .footer-l{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer-title{
        margin-bottom: 80px;
    }
    .footer-title a{
        font-size: 48px;
    }
    .footer-title .style1{
        margin-top: 0px;
    }
    .logo{
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .bottom a, .back-to-top{
        color: #FFF;
        font-weight: 700;
        line-height: 1.5;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .bottom{
        display: flex;
    }
    .mobile-footer-s{
        padding-top: 32px;
        padding-bottom: 32px;
        margin: 0 auto;
    }
    .bottom a{
        margin-right: 20px;
        margin-top: 36px;
        margin-bottom: 32px;
    }
}